.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.thumb img {
    width: 306px;
    height: 448px;
    margin-bottom: 15px;
    margin-top: 36px;
}

.infosAside {
    display: flex;
    flex-direction: column;
    width: 67%;
}

.headerInfos {
    margin-bottom: 75px;
}

.headerInfos p {
    color: var(--gray-500);
    margin-top: -10px;
}

.infoContent {
    display: flex;
    flex-wrap: wrap;
}

.tags{
    padding: 0;
    display: flex;
}

.tags li{
    margin-right: 10px;
}


@media (max-width: 768px) {

    .hiddenMobile {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .infosAside {
        width: 100%;
        margin-bottom: 30px;
    }

    .headerInfos {
        margin: 0;
    }

    .headerInfos h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }

    .headerInfos p {
        width: 100%;
    }

    .thumb img {
        width: 100vw;
        height: 413px;
        margin: 0 0 -15px -25px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

}