.header {
    border-bottom: 1px solid var(--gray-300);
    padding: 14px 0;
    height: 67px;
}

.listItens {
    margin: 0 auto;
    width: 88%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    position: relative;   
    left: -19px;
}

.header-letter{
    word-wrap: none;
    background-color: var(--gray-400);
    color: var(--gray-100);
    border-radius: 50%;
    font-weight: 600;
    line-height: 19px;
    font-size: 16px;
}

.element-hidden {
    margin-left: 12px;
}

@media (max-width: 768px) {
    .element-hidden {
        display: none;
    }

    .listItens {
        width: 85%;
    }

    .header-link-2{
        display: none;
    }
}