.header {
    border-bottom: 1px solid var(--gray-300);
    padding: 14px 0;
    height: 67px;
}

.listItens {
    margin: 0 60px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;   
    left: -19px;
}

.header-letter{
    background-color: var(--gray-400);
    color: var(--gray-100);
    border-radius: 50%;
    font-weight: 600;
    line-height: 19px;
    font-size: 16px;
}

.element-hidden {
    margin-left: 12px;
}

.backItem{
    display: flex;
    align-items: center;
}

.headerTools{
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.logout{
    transition: 1s;
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 95px;
    justify-content: space-between;
    background-color: var(--gray-300);
    padding: 10px;
    margin-left: auto;
    position: relative;
    right: 50px;
    top: -15px;
    box-shadow: -2px 2px 5px var(--gray-500);
    border-radius: 25px;
}

@media (max-width: 768px) {
    .element-hidden {
        display: none;
    }

    .listItens {
        width: 88%;
        margin: auto;
    }

    .logout{
        right: 10;
    }
}