.header {
    border-bottom: 1px solid var(--gray-300);
    padding: 14px 0;
    height: 67px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.header-letter{
    word-wrap: none;
    background-color: var(--gray-400);
    color: var(--gray-100);
    border-radius: 50%;
    font-weight: 600;
    line-height: 19px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .element-hidden {
        display: none;
    }
    
}