.content h3{
    border-bottom: 1px solid var(--gray-300);
    padding-bottom: 8px;
}

.content p{
    display: inline;
    color: var(--gray-500);
}

@media (max-width: 768px){
    .content{
        width: 100% !important;
    }
}