ul {
    list-style: none;
}

.footer {
    height: 112px;
    margin-top: 80px;
    border-top: 1px solid var(--gray-300);
    display: flex;
}

.footerList {
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -19px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.medias {
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links li {
    margin: auto 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    position: relative;
}

.links li a {
    color: var(--gray-500);
}

.links li a:hover {
    color: var(--white);
}

@media (max-width: 768px) {
    .footer{
        display: none;
    }
}