.container{
    min-height: calc(100% - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    width: 460px;
    background-color: var(--gray-200);
    border-radius: 8px;
    padding: 40px;
}

h2{
    margin-top: -10px;
    margin-bottom: 26px;
    color: var(--gray-500);
}

@media (max-width: 768px){
    .container{
        padding: 0;
    }

    .formBox{
        margin: 0;
        padding: 0;
        width: 100%;
    }
}